
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="C:\Users\Lenovo\Desktop\Welness Promotion\static\beautytip.css">
		<link rel="stylesheet" href="C:\Users\Lenovo\Desktop\Welness Promotion\fontawesome-free-5.15.3-web\css\all.min.css">
		
			<!-- chatbot -->
	
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
	
	<!--end-->
	
	
</head>
<body>
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>
    </div>
	
	
	
	<!-- Navigation -->

    <header class="header">
        <a href="#" id="logo"><span>Second</span> Opinion</a>
		

        <nav class="navbar">
        <a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\index.html">Home</a>
		<a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\diet & fitness.html">Diet & Fitness</a>
		<a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\beautytip.html">Beauty Tips</a>
       
       
        <a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\blog.html">Healthy Blogs</a>
        <a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\bmic.html">BMI Calculator</a>
		

        </nav>

    <div class="icons">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        
    </div>
	</header>
	
 
    <article>
        <img src="C:\Users\Lenovo\Desktop\Welness Promotion\images\Images\skincare.jpg" alt="Skincare">
        <h2>Skincare Routine</h2>
        <div class="para"> Taking care of your skin is an act of self-love that transcends beauty; it's a ritual that nurtures not just your complexion but your overall well-being. In the delicate dance between you and your skin, each step of a skincare routine is a moment of mindfulness, a gentle touch that whispers, "I care for you" ,So, let your skincare routine be a journey, a sanctuary where you honor not just your skin but the essence of who you are—a radiant, resilient, and beautifully evolving being..</p>
        <button class="read-more-btn">Read More</button></div>
    </article>
    <article>
        <img src="C:\Users\Lenovo\Desktop\Welness Promotion\images\Images\diet.jpg" alt="diet">
        <h2>Healthy food</h2>
        <p class="para"> Eat to nourish your body, not to feed your emotions. Embrace the vibrant colors of nature on your plate, and let each bite be a celebration of health and vitality. Your food choices are the brushstrokes that paint the masterpiece of your well-being. Choose wisely, savor mindfully, and let the symphony of nutrients dance within you, creating a harmonious melody of strength and balance. </p>
        <button class="read-more-btn">Read More</button>
    </article>
    <article>
        <img src="C:\Users\Lenovo\Desktop\Welness Promotion\images\Images\drink.jpg" alt="hyderation">
        <h2> Role of Hyderation</h2>
        <p class="para">Hydration is not just a daily ritual; it's a profound commitment to the intricate dance of life within your body. Like a gentle stream that nourishes a vast and thriving ecosystem, the role of hydration is transformative. It is the elixir that fuels the machinery of your cells, a conductor orchestrating the symphony of bodily functions with precision </p>
        <button class="read-more-btn">Read More</button>
    </article>
    <article>
        <img src="C:\Users\Lenovo\Desktop\Welness Promotion\images\Images\Makeup.jpg"alt="Makeup Tips">
        <h2>  Makeup Tips</h2>
        <p class="para">Makeup is not just about colors and brushes; it's an art form that empowers, transforms, and reveals the beauty within. Each stroke of pigment is a brushstroke of self-expression, allowing you to paint the canvas of your identity. Embrace the beauty rituals that make you feel confident, for in the world of makeup, there are no rules – only endless possibilities. Let your makeup be an extension of your mood, a celebration of your uniqueness, and a reflection of the exquisite masterpiece that is you.</p>
        <button class="read-more-btn">Read More</button>
    </article>
    <article>
        <img src="C:\Users\Lenovo\Desktop\Welness Promotion\images\Images\nailart.jpg" alt="Skincare">
        <h2> Nailarts</h2>
        <p class="para">Nail art is more than a creative expression; it's a tiny canvas where imagination meets precision, and fingertips become a palette of endless possibilities. From subtle elegance to bold statements, each stroke of color and intricate design tells a unique story. Nail art is the finishing touch that elevates your style, a small yet powerful form of self-expression. So, let your nails be the masterpiece that reflects your mood, personality, and the vibrant hues of your creativity </p>
        <button class="read-more-btn">Read More</button>
    </article>
    
    <!-- Footer -->
	<div class="main-footer">
 <div class="inner-footer">

    <h3>Get in touch</h3>
    <a href="#"><i class="fab fa-linkedin"></i> Follow Us on LinkedIn</a>
    <a href="#"><i class="fab fa-instagram"></i> Follow Us on Instagram</a>
    <a href="#"><i class="fab fa-twitter"></i> Follow Us on Twitter</a>
   
    <a href="#"><i class="fab fa-facebook"></i> Follow Us on Facebook</a>
</div>



 <div class="inner-footer">
    <h3>Quick links</h3>
    <a href="C:\Users\Lenovo\Desktop\Welness Promotion\templates\blog.html"><i class="fas fa-book-medical"></i> Health Blogs</a>
    <a href="C:\Users\Lenovo\Desktop\Welness Promotion\Templates\beautytip.html"><i class="fas fa-heart"></i> Beauty Tips</a>
    <a href="#"><i class="fas fa-info-circle"></i> About Us</a>
    <a href="#"><i class="fas fa-envelope"></i> Contact Us</a>
</div>


<div class="inner-footer">
    
    <h3>services</h3>
    <a href="#"><i class="fas fa-stethoscope"></i> Diagnostics & Consultation</a>
    <a href="#"><i class="fas fa-heart"></i> Beauty Tips</a>
    <a href="#"><i class="fas fa-dumbbell"></i> Diet & Fitness</a>
    <a href="#"><i class="fas fa-calculator"></i> BMI Calculator</a>
    <a href="#"><i class="fas fa-book-medical"></i> Health Blogs</a>
</div>

</div>
    
    

<!-- ChatBOT -->
  <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header1>
		<div id="logo1">
        <a href="#" id="logo1"><span>Second</span> Opinion</a></div>
        <span class="close-btn material-symbols-outlined">close</span>
      </header1>
      <ul class="chatbox">
        <li class="chat incoming">
          
          <p>Hi there 👋<br>How can I help you today?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>





  
  
	
	<script src="C:\Users\Lenovo\Desktop\Welness Promotion\static\Chatbot script.js"> </script>
	
	

    <script>
        // Simulate content loading
        window.addEventListener('load', function () {
            var loadingOverlay = document.getElementById('loadingOverlay');
            loadingOverlay.style.display = 'none';
        });
    </script>
</body>
</html>
